<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean
		class="org.springframework.context.annotation.CommonAnnotationBeanPostProcessor" />

	<bean id="iot" class="com.amit.springCore.IOTDevice">
		<constructor-arg value="AC" />
		<constructor-arg value="Temprature sensor" />
		<!-- <property name= "device" value="Air Conditinor" /> <property name= 
			"description" value="Temprature sensor" /> -->
	</bean>

</beans>
